$font-uid: "x8a7vj";
$font-icons: "editor-icons";
$font-size-icons: 18px;

@font-face {
    font-family: $font-icons;
    src: url("../fonts/editor-icons.woff?#{$font-uid}") format("woff"),
         url("../fonts/editor-icons.ttf?#{$font-uid}") format("truetype"),
         url("../fonts/editor-icons.svg?#{$font-uid}#editor-icons") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $font-icons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--gamesgamepad:before {
  content: "\e900";
}
.icon--library_music:before {
  content: "\e901";
}
.icon--pause:before {
  content: "\e902";
}
.icon--pause_circle_filled:before {
  content: "\e903";
}
.icon--pause_circle_outline:before {
  content: "\e904";
}
.icon--play_arrow:before {
  content: "\e905";
}
.icon--play_circle_filled:before {
  content: "\e906";
}
.icon--play_circle_outline:before {
  content: "\e907";
}
.icon--music_video:before {
  content: "\e908";
}
.icon--location_onplaceroom:before {
  content: "\e909";
}
.icon--stay_current_landscapestay_primary_landscape:before {
  content: "\e90a";
}
.icon--archive:before {
  content: "\e90b";
}
.icon--content_cut:before {
  content: "\e90c";
}
.icon--createmode_editedit:before {
  content: "\e90d";
}
.icon--save:before {
  content: "\e90e";
}
.icon--format_color_fill:before {
  content: "\e90f";
}
.icon--format_paint:before {
  content: "\e910";
}
.icon--cloud_uploadbackup:before {
  content: "\e923";
}
.icon--brush:before {
  content: "\e911";
}
.icon--collectionsphoto_library:before {
  content: "\e912";
}
.icon--music_note:before {
  content: "\e913";
}
.icon--panorama:before {
  content: "\e914";
}
.icon--remove_red_eyevisibility:before {
  content: "\e915";
}
.icon--photo_size_select_actual:before {
  content: "\e916";
}
.icon--layers:before {
  content: "\e917";
}
.icon--map:before {
  content: "\e918";
}
.icon--pin_drop:before {
  content: "\e919";
}
.icon--near_me:before {
  content: "\e91a";
}
.icon--category:before {
  content: "\e91b";
}
.icon--arrow_drop_down:before {
  content: "\e91c";
}
.icon--arrow_drop_down_circle:before {
  content: "\e91d";
}
.icon--build:before {
  content: "\e91e";
}
.icon--delete:before {
  content: "\e91f";
}
.icon--settings:before {
  content: "\e920";
}
.icon--visibility_off:before {
  content: "\e921";
}
.icon--sports_esports:before {
  content: "\e922";
}
