html,
body {
    font-size: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    background-color: $black;
    color: $white;
    font-family: $font-sans-bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
span {
    display: inline-block;
    vertical-align: middle;
}
a {
    color: $white;
    text-decoration: none;
}



#editor {
    position: relative;
    width: 100%;
    height: 100%;

    &.is-not-loaded {
        display: none;
    }

    &.is-saving-map:after,
    &.is-saving-game:after,
    &.is-saving-file:after,
    &.is-deleting-file:after {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        background-color: rgba( 0, 0, 0, 0.5 );
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: 32px;
    }
    &.is-saving-map:after {
        content: "Saving your map...";
    }
    &.is-saving-game:after {
        content: "Saving your game...";
    }
    &.is-saving-file:after {
        content: "Saving the file...";
    }
    &.is-deleting-file:after {
        content: "Deleting the file...";
    }
}



.icon {
    font-size: 14px;
    cursor: pointer;
    pointer-events: none;

    &.js-hide-layer,
    &.js-sound-button {
        pointer-events: auto;
    }
}
.icon--nudge {
    margin-right: 10px;
}
.txt {
    font-size: 11px;
    line-height: 1.75;
    padding: 10px 0;
    color: $grey;
}
.inline {
    display: inline-block;
    vertical-align: middle;
}
.input {
    background-color: $charcoal;
    border: 1px solid $grey-dark;
    color: $white;
    box-sizing: border-box;
    font-family: $font-monospace;
    outline: none;
    padding: 10px 16px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;

    &:focus {
        outline: none;
    }
}
.select {
    position: relative;
    font-family: $font-monospace;
    color: $grey;

    &:after {
        color: $grey;
        content: "\ea43";
        font-family: $font-icons;
        font-size: 10px;
        margin-top: -5px;
        position: absolute;
        right: 14px;
        top: 50%;
    }
}
.select__field {
    border-radius: 0;
    background-color: $charcoal;
    border: 1px solid $grey-dark;
    color: $grey;
    font-family: $font-monospace;
    outline: none;
    padding: 8px 56px 8px 14px;
    position: relative;
    min-width: 185px;
    width: 100%;
    -webkit-appearance: none;

    &:focus {
        outline: none;
        border: 1px solid $grey;
    }
}
.checkbox {
    font-size: 0;

    span,
    input {
        display: inline-block;
        vertical-align: middle;
    }

    span {
        font-size: 12px;
        color: $white;
        margin-left: 5px;
    }

    & + .checkbox {
        margin-left: 32px;
    }
}
.button {
    // border-radius: 2px;
    border: 0;
    outline: none;
    box-sizing: border-box;
    display: inline-block;
    font-family: inherit;
    padding: 14px;
    width: 100%;
    cursor: pointer;
    font-size: 11px;
    text-align: center;
    background-color: $blue;
    color: mix( black, $blue, 90% );
    transition: background-color 240ms ease;

    &:hover {
        background-color: mix( black, $blue, 25% );
    }
}
.button--slim {
    padding: 7px 14px 8px;
    background-color: $charcoal;
    border: 1px solid $blue;
    color: $blue;

    &:hover {
        background-color: mix( white, $charcoal, 5% );
    }
}
.button.button--green {
    background-color: $green;
    color: mix( black, $green, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $green, 25% );
    }
}
.button.button--yellow {
    background-color: $yellow;
    color: mix( black, $yellow, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $yellow, 25% );
    }
}
.button.button--red {
    background-color: $red;
    color: mix( black, $red, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $red, 25% );
    }
}
.button.button--pink {
    background-color: $pink;
    color: mix( black, $pink, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $pink, 25% );
    }
}
.button.button--purple {
    background-color: $purple;
    color: mix( black, $purple, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $purple, 25% );
    }
}
.button.button--blue {
    background-color: $blue;
    color: mix( black, $blue, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $blue, 25% );
    }
}
.button.button--grey {
    background-color: $grey;
    color: mix( black, $grey, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $grey, 25% );
    }
}
