/******************************************************************************
 * Fonts: Util
*******************************************************************************/
@mixin font-normal() {
    font-stretch: normal;
    font-style: normal;
}


/******************************************************************************
 * Fonts: Styles
*******************************************************************************/
@mixin font-family-sans() {
    font-family: $font-sans-regular;
    @include font-normal();
}
@mixin font-family-sans-bold() {
    font-family: $font-sans-bold;
    @include font-normal();
}
@mixin font-family-monospace() {
    font-family: $font-monospace;
    @include font-normal();
}
@mixin font-family-monospace-italic() {
    font-family: $font-monospace-italic;
    @include font-normal();
}
@mixin font-family-monospace-bold() {
    font-family: $font-monospace-bold;
    @include font-normal();
}
@mixin font-family-monospace-bold-italic() {
    font-family: $font-monospace-bold-italic;
    @include font-normal();
}
