/******************************************************************************
 * Fonts
*******************************************************************************/
$font-path: "../fonts/";
$font-sans: "Calamity";
$font-sans-regular: "#{$font-sans}-Regular";
$font-sans-bold: "#{$font-sans}-Bold";
$font-monospace: "panicsans";
$font-monospace-italic: "#{$font-monospace}italic";
$font-monospace-bold: "#{$font-monospace}bold";
$font-monospace-bold-italic: "#{$font-monospace}bolditalic";



/******************************************************************************
 * Colors
*******************************************************************************/
$black: #000;
$charcoal: #111;
$charcoal2: #222;
$white: #FFFDE4;
$grey: #959595;
$grey-dark: #333;
$green: #10FF59;
$yellow: #EEFD02;
$red: #F30541;
$pink: #F49AC1;
$purple: #6441A4;
$blue: #1795D4;
$teal: #2AFFEA;
$blue-dark: #004080;
