<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-title" content="{__GAME_NAME__} | 2dk" />
        <link rel="apple-touch-icon" sizes="57x57" href="/img/icon/apple-icon-57x57.png?buster={__GAME_VERSION__}" />
        <link rel="apple-touch-icon" sizes="60x60" href="/img/icon/apple-icon-60x60.png?buster={__GAME_VERSION__}" />
        <link rel="apple-touch-icon" sizes="72x72" href="/img/icon/apple-icon-72x72.png?buster={__GAME_VERSION__}" />
        <link rel="apple-touch-icon" sizes="76x76" href="/img/icon/apple-icon-76x76.png?buster={__GAME_VERSION__}" />
        <link rel="apple-touch-icon" sizes="114x114" href="/img/icon/apple-icon-114x114.png?buster={__GAME_VERSION__}" />
        <link rel="apple-touch-icon" sizes="120x120" href="/img/icon/apple-icon-120x120.png?buster={__GAME_VERSION__}" />
        <link rel="apple-touch-icon" sizes="144x144" href="/img/icon/apple-icon-144x144.png?buster={__GAME_VERSION__}" />
        <link rel="apple-touch-icon" sizes="152x152" href="/img/icon/apple-icon-152x152.png?buster={__GAME_VERSION__}" />
        <link rel="apple-touch-icon" sizes="180x180" href="/img/icon/apple-icon-180x180.png?buster={__GAME_VERSION__}" />
        <title>{__GAME_NAME__} | 2dk</title>
        <link href="/css/2dk.css?buster={__GAME_VERSION__}" rel="stylesheet" media="screen" />
    </head>
    <body>
        <script src="/js/2dk.js?buster={__GAME_VERSION__}"></script>
    </body>
</html>
