@layer base {
    html,
    body {
        color: var( --white );
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: var( --black );
    }

    body {
        font-style: normal;
        font-family: "Calamity-Bold";
        font-stretch: normal;
        user-select: none;
        touch-action: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
    }

    .btn {
        color: var( --black );
        padding: 12px 24px;
        font-size: 14px;
        text-align: center;
        line-height: 1;
        border-radius: 10px;
        background-color: var( --grey );
    }

    .btns {
        gap: 16px;
        display: flex;
    }

    ._2dk {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
}
