/******************************************************************************
 * Font Declarations
*******************************************************************************/
@font-face {
    font-family: "Calamity-Regular";
    src: url( "fonts/Calamity-Regular.woff" ) format( "woff" );
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}
@font-face {
    font-family: "Calamity-Bold";
    src: url( "fonts/Calamity-Bold.woff" ) format( "woff" );
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}
