@layer gamepad {
    ._2dk__gamepad {
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: block;
        position: fixed;
        user-select: none;
        pointer-events: none;
    }
    ._2dk__gamepad__dpad div,
    ._2dk__gamepad__btns div,
    ._2dk__gamepad__menu div {
        color: rgba( 0, 0, 0, 0.25 );
        border: 1px solid rgba( 0, 0, 0, 0.25 );
        display: block;
        background: rgba( 255, 255, 255, 0.25 );
        text-align: center;
        line-height: 1;
        pointer-events: auto;
        -webkit-text-stroke: 1px rgba( 0, 0, 0, 0.25 );
    
        &.is-active {
            color: rgba( 0, 0, 0, 0.5 );
            background: rgba( 255, 255, 255, 0.5 );
        }
    }
    ._2dk__gamepad__menu {
        gap: 16px;
        left: 50%;
        bottom: 0;
        display: flex;
        position: fixed;
        transform: translateX( -50% );
    }
    ._2dk__gamepad__btns,
    ._2dk__gamepad__menu {
        div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        span {
            pointer-events: none;
        }
    }
    ._2dk__gamepad__btns {
        right: 20px;
        bottom: 40px;
        display: flex;
        position: fixed;
        flex-direction: column;
    }
    ._2dk__gamepad__dpad {
        left: 20px;
        width: 176px;
        height: 176px;
        bottom: 40px;
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    
        div {
            position: relative;
            border-radius: 10px;
    
            &[data-off="true"] {
                visibility: hidden;
                pointer-events: none;
            }
        }
    }
    ._2dk__gamepad__up,
    ._2dk__gamepad__down {
        width: 52px;
        height: 62px;
    }
    ._2dk__gamepad__right,
    ._2dk__gamepad__left {
        width: 62px;
        height: 52px;
    }
    ._2dk__gamepad__neutral {
        width: 52px;
        height: 52px;
    }
    ._2dk__gamepad__up-right,
    ._2dk__gamepad__up-left,
    ._2dk__gamepad__down-right,
    ._2dk__gamepad__down-left {
        width: 62px;
        height: 62px;
        border: none !important;
        background: none !important;
    
        &:after {
            width: 0;
            height: 0;
            content: "";
            position: absolute;
            border-left: 32px solid transparent;
            border-right: 32px solid transparent;
            border-top: 40px solid rgba( 255, 255, 255, 0.25 );
            border-radius: 50%;
        }
    
        &.is-active:after {
            border-top-color: rgba( 255, 255, 255, 0.5 );
        }
    }
    ._2dk__gamepad__up-left {
        &:after {
            right: 5px;
            bottom: 17px;
            transform: rotate( -45deg ) translate3d( 0, 16px, 0 );
        }
    }
    ._2dk__gamepad__up-right {
        &:after {
            left: 5px;
            bottom: 17px;
            transform: rotate( 45deg ) translate3d( 0, 16px, 0 );
        }
    }
    ._2dk__gamepad__down-left {
        &:after {
            top: 17px;
            right: 5px;
            transform: rotate( -135deg ) translate3d( 0, 16px, 0 );
        }
    }
    ._2dk__gamepad__down-right {
        &:after {
            top: 17px;
            left: 5px;
            transform: rotate( 135deg ) translate3d( 0, 16px, 0 );
        }
    }
    ._2dk__gamepad__a {
        width: 64px;
        height: 64px;
        position: relative;
        font-size: 24px;
        border-radius: 64px;
        transform: translateY( 4px );
    }
    ._2dk__gamepad__b {
        width: 64px;
        height: 64px;
        position: relative;
        font-size: 24px;
        border-radius: 64px;
        transform: translateX( calc( -100% + 4px ) );
    }
    ._2dk__gamepad__start {
        order: 2;
    }
    ._2dk__gamepad__select {
        order: 1;
    }
    ._2dk__gamepad__start,
    ._2dk__gamepad__select {
        width: 82px;
        height: 32px;
        border-radius: 10px 10px 0px 0px;
    }

    ._2dk__gamepad__sprite {
        display: block;

        & + span {
            display: none;
        }
    }

    // Hide the gamepad when the menu is active
    ._2dk__menu {
        &.is-active ~ ._2dk__gamepad {
            ._2dk__gamepad__dpad,
            ._2dk__gamepad__btns {
                display: none;
            }
        }
    }
}