@layer maps {
    ._2dk__gamebox {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    ._2dk__layer {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    
}