@layer menu {
    ._2dk__menu {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        opacity: 0;
        display: grid;
        position: fixed;
        transition: opacity var( --hide-duration ) ease;
        background-color: rgba( 0, 0, 0, 0.9 );
        grid-template-rows: auto 1fr;
        
        &.is-active {   
            opacity: 1;
        }
    }

    ._2dk__menu__tabs {
        display: grid;
        text-align: center;
        align-items: center;
        grid-template-columns: repeat( 4, 1fr );
        border-bottom: 1px solid var( --grey-dark );
    }

    ._2dk__menu__tab {
        padding: 16px 0;
        position: relative;
        font-size: 14px;

        &.is-active {
            color: var( --teal );

            &::after {
                left: 0;
                width: 100%;
                height: 2px;
                bottom: 0;
                content: "";
                position: absolute;
                background-color: var( --teal );
            }
        }

        &:not( :first-child ) {
            border-left: 1px solid var( --grey-dark );
        }
    }

    ._2dk__menu__contents {
        flex: 1;
        overflow-y: auto;
    }

    ._2dk__menu__content {
        gap: 8px;
        display: none;
        padding: 24px;
        font-size: 14px;
        text-align: center;
        line-height: 1.5;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        &[data-content="stats"],
        &[data-content="items"],
        &[data-content="save"] {
            height: 100%;
        }

        &[data-content="quests"] {
            padding: 64px 0;
        }

        &.is-active {
            display: flex;
        }
    }

    ._2dk__menu__save {
        background-color: var( --blue );
    }
}