@layer player {
    ._2dk {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    ._2dk__screen {
        width: 480px;
        height: 320px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d( -50%, -50%, 0 );
        overflow: hidden;
    }

    ._2dk__dialogue {
        box-shadow: var( --box-shadow );
        border: 1px solid var( --black );
        background-color: rgba( 0, 0, 0, 0.75 );
        position: absolute;
        left: 16px;
        right: 16px;
        top: 16px;
        border-radius: 10px;
        overflow: hidden;
        text-align: left;
        line-height: 1.5;
        opacity: 0;
        z-index: 10;
        transition: opacity 240ms ease;

        [data-resolution="1"] & {
            padding: 36px 72px;
        }
    
        [data-resolution="2"] & {
            padding: 24px 48px;
        }

        &__text {
            [data-resolution="1"] & {
                font-size: 18px;
            }
        
            [data-resolution="2"] & {
                font-size: 12px;
            }

            .a {
                color: var( --teal );
            }

            .b {
                color: var( --blue );
            }
        }
    
        &.is-texting {
            opacity: 1;
        }
    }

    ._2dk__splash {
        color: white;
        background-color: var( --black );
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 10;
        transition: opacity 1000ms ease-in-out;
    
        .is-started & {
            opacity: 0;
        }
    
        .is-fader & {
            opacity: 1;
        }
    }

    ._2dk__splash__load {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;

        .is-started & {
            display: none;
        }
    }

    ._2dk__splash__info {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    
        .is-started & {
            display: none;
        }
    
        > div:first-child {
            padding-left: 36px;
            padding-right: 36px;
            z-index: 12;
            text-align: center;
    
            @media ( max-width: 640px ) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        > div:last-child {
            padding-left: 36px;
            padding-right: 36px;
            background-repeat: no-repeat;
            background-size: 64px 64px;
            background-position: 50% calc( 100% - 65px - 36px );
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            z-index: 13;
            text-align: center;
            padding-bottom: 65px;
    
            @media ( max-width: 640px ) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    
        > div > div {
            padding: 8px 0;
        }
    }

    ._2dk__splash__update {
        position: absolute;
        left: 20px;
        top: 20px;
        right: 20px;
        z-index: 13;
        text-align: center;
        background-color: var( --grey );
        padding: 12px 24px;
        border-radius: 10px;
        color: var( --black );
        font-size: 14px;
        display: none;

        &.has-update {
            display: block;
        }
    }
    
    
    
    @media ( orientation: portrait ) {
        ._2dk__splash {
            z-index: 11;
    
            .is-started & {
                opacity: 1;
                transition-duration: 0ms;
            }
        }
    
        ._2dk__splash__info {
            display: flex;
    
            .is-started & {
                display: flex;
            }
    
            > div:last-child {
                animation: bounce 480ms infinite;
                transition: all 240ms ease;
                transform: translate3d( 0, 0, 0 );
            }
        }
    }
    
    
    
    @media ( orientation: landscape ) {
        ._2dk__splash__load {
            display: flex;
        }
    }
    
    
    
    @keyframes bounce {
        0% { background-position: 50% calc( 100% - 65px - 36px - 4px ); }
        49.99999% { background-position: 50% calc( 100% - 65px - 36px - 8px ); }
        50% { background-position: 50% calc( 100% - 65px - 36px - 8px ); }
        99.99999% { background-position: 50% calc( 100% - 65px - 36px - 4px ); }
        100% { background-position: 50% calc( 100% - 65px - 36px ); }
    }
    
}