@layer player {
    ._2dk__screen {
        top: 50%;
        left: 50%;
        width: 480px;
        height: 320px;
        overflow: hidden;
        position: fixed;
        transform: translate3d( -50%, -50%, 0 );
    }
}