/******************************************************************************
 * CSS Reset
 * Custom since we use limited HTML elements for the 2dk player
*******************************************************************************/
@layer reset {
    *,
    *:before,
    *:after {
        border: 0;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html,
    :host {
        line-height: 1;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
    }
}