@layer splash {
    ._2dk__splash {
        top: 0;
        left: 0;
        color: var( --white );
        width: 100%;
        height: 100%;
        z-index: 10;
        position: fixed;
        overflow: hidden;
        transition: opacity var( --fade-duration ) ease-in-out;
        pointer-events: none;
        background-color: var( --black );
    
        .is-started & {
            opacity: 0;
        }
    
        .is-fader & {
            opacity: 1;
        }
    }

    ._2dk__splash__load {
        gap: 16px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .is-started & {
            display: none;
        }
    }

    ._2dk__splash__info {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        align-items: center;
        justify-content: center;
    
        .is-started & {
            display: none;
        }
    
        > div:first-child {
            z-index: 12;
            text-align: center;
            padding-left: 36px;
            padding-right: 36px;
    
            @media ( max-width: 640px ) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        > div:last-child {
            left: 0;
            width: 100%;
            height: 100%;
            bottom: 0;
            z-index: 13;
            display: flex;
            position: fixed;
            text-align: center;
            align-items: flex-end;
            padding-left: 36px;
            padding-right: 36px;
            padding-bottom: 65px;
            justify-content: center;
            background-size: 64px 64px;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 50% calc( 100% - 65px - 36px );
    
            @media ( max-width: 640px ) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    
        > div > div {
            padding: 8px 0;
        }
    }

    ._2dk__splash__update {
        top: 20px;
        left: 20px;
        right: 20px;
        z-index: 13;
        display: none;
        position: fixed;
        pointer-events: auto;

        &.has-update {
            display: block;
        }
    }
    
    @media ( orientation: portrait ) {
        ._2dk__splash {
            z-index: 11;
    
            .is-started & {
                opacity: 1;
                transition-duration: 0ms;
            }
        }
    
        ._2dk__splash__info {
            display: flex;
    
            .is-started & {
                display: flex;
            }
    
            > div:last-child {
                animation: bounce 480ms infinite;
                transform: translate3d( 0, 0, 0 );
                transition: all 240ms ease;
            }
        }
    }
    
    @media ( orientation: landscape ) {
        ._2dk__splash__load {
            display: flex;
        }
    }
    
    @keyframes bounce {
        0% {
            background-position: 50% calc( 100% - 65px - 36px - 4px );
        }
        49.99999% {
            background-position: 50% calc( 100% - 65px - 36px - 8px );
        }
        50% {
            background-position: 50% calc( 100% - 65px - 36px - 8px );
        }
        99.99999% {
            background-position: 50% calc( 100% - 65px - 36px - 4px );
        }
        100% {
            background-position: 50% calc( 100% - 65px - 36px );
        }
    }
}