.2dk-builder {}
._2dk-builder__upload {
    background-color: $charcoal;
    outline: 1px solid $grey-dark;
    text-align: center;
    margin-top: $expander-0;

    p {
        max-width: 100%;
    }
}
