// @2x sizes
$hero-height: 140px;
$hero-width: 128px;
$hero-sprite-width: 1536px;
$hero-sprite-height: 560px;
// @1x sizes
$hero-h: $hero-height / 2;
$hero-w: $hero-width / 2;
$hero-sw: $hero-sprite-width / 2;
$hero-sh: $hero-sprite-height / 2;
$hero-speed: 320ms;
$tile-size: 32px;
