/******************************************************************************
 * ProperJS
*******************************************************************************/
@import "../../properjs/sass/config/vars";
@import "../../properjs/sass/config/func";
@import "../../properjs/sass/core/reset";
@import "../../properjs/sass/core/fonts";
@import "../../properjs/sass/core/typography";



/******************************************************************************
 * Document
*******************************************************************************/
html,
body {
    background-color: $black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    @include font-family-sans-bold();
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
}



/******************************************************************************
 * 2dk Player
*******************************************************************************/
// @2x sizes
$hero-height: 96px;
$hero-width: 76px;
$hero-sprite-width: 304px;
$hero-sprite-height: 768px;
// @1x sizes
$hero-h: $hero-height / 2;
$hero-w: $hero-width / 2;
$hero-sw: $hero-sprite-width / 2;
$hero-sh: $hero-sprite-height / 2;
$hero-speed: 240ms;
$tile-size: 32px;



._2dk {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



@media only screen and ( orientation: portrait ) {
    ._2dk {
        &:after {
            @include wrap();
            content: "Rotate to Landscape.";
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $charcoal;
            color: $teal;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 12;
            text-align: center;
        }

        &:before {
            @include wrap();
            background-image: url( "/img/icon/css-icon.png" );
            background-repeat: no-repeat;
            background-size: 64px 64px;
            background-position: 50% calc( 100% - #{$padding-1} - #{$expander-0} );
            content: "+Webapp";
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            color: $teal;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            z-index: 13;
            text-align: center;
            padding-bottom: $padding-1;
            transition: all $hero-speed $ease;
            animation: bounce ($hero-speed * 2) infinite;
        }
    }
}



@keyframes bounce {
    0% { background-position: 50% calc( 100% - #{$padding-1} - #{$expander-0} - 4px ); }
    49.99999% { background-position: 50% calc( 100% - #{$padding-1} - #{$expander-0} - 8px ); }
    50% { background-position: 50% calc( 100% - #{$padding-1} - #{$expander-0} - 8px ); }
    99.99999% { background-position: 50% calc( 100% - #{$padding-1} - #{$expander-0} - 4px ); }
    100% { background-position: 50% calc( 100% - #{$padding-1} - #{$expander-0} ); }
}



/******************************************************************************
 * Screen
*******************************************************************************/
._2dk__screen {
    width: 480px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}



/******************************************************************************
 * Maps
*******************************************************************************/
._2dk__map,
._2dk__map__layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &[data-layer="debug"],
    &[data-layer="background"] {
        z-index: 1;
    }

    &[data-layer="foreground"] {
        z-index: 3;
    }
}
._2dk__obj {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}



/******************************************************************************
 * Sprites
*******************************************************************************/
._2dk__hero {
    height: $hero-h;
    width: $hero-w;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: $hero-sw $hero-sh;

    ._2dk--debug & {
        outline: 1px solid $teal;
    }

    &.down {
        background-position: 0 0;
    }
    &.up {
        background-position: (-$hero-w) 0;
    }
    &.left {
        background-position: (-$hero-w * 2) 0;
    }
    &.right {
        background-position: (-$hero-w * 3) 0;
    }

    &.walk {
        // animation-duration: $hero-speed;
        animation-iteration-count: infinite;
    }
    &.walk.down {
        animation-name: walk-down;
    }
    &.walk.up {
        animation-name: walk-up;
    }
    &.walk.left {
        animation-name: walk-left;
    }
    &.walk.right {
        animation-name: walk-right;
    }
}



@keyframes walk-down {
    0% { background-position: 0 (-$hero-h); }
    49.99999% { background-position: 0 (-$hero-h); }
    50% { background-position: 0 (-$hero-h * 2); }
    99.99999% { background-position: 0 (-$hero-h * 2); }
    100% { background-position: 0 0; }
}
@keyframes walk-up {
    0% { background-position: (-$hero-w) (-$hero-h); }
    49.99999% { background-position: (-$hero-w) (-$hero-h); }
    50% { background-position: (-$hero-w) (-$hero-h * 2); }
    99.99999% { background-position: (-$hero-w) (-$hero-h * 2); }
    100% { background-position: (-$hero-w) 0; }
}
@keyframes walk-left {
    0% { background-position: (-$hero-w * 2) (-$hero-h); }
    49.99999% { background-position: (-$hero-w * 2) (-$hero-h); }
    50% { background-position: (-$hero-w * 2) (-$hero-h * 2); }
    99.99999% { background-position: (-$hero-w * 2) (-$hero-h * 2); }
    100% { background-position: (-$hero-w * 2) 0; }
}
@keyframes walk-right {
    0% { background-position: (-$hero-w * 3) (-$hero-h); }
    49.99999% { background-position: (-$hero-w * 3) (-$hero-h); }
    50% { background-position: (-$hero-w * 3) (-$hero-h * 2); }
    99.99999% { background-position: (-$hero-w * 3) (-$hero-h * 2); }
    100% { background-position: (-$hero-w * 3) 0; }
}



/******************************************************************************
 * Controls
*******************************************************************************/
._2dk__controls {
    position: absolute;
    left: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
}
._2dk__controls > div {
    position: absolute;
    display: block;
    background: rgba( 255, 255, 255, 0.25 );
    text-align: center;
    color: rgba( 0, 0, 0, 0.25 );
    -webkit-text-stroke: 1px rgba( 0, 0, 0, 0.25 );
    line-height: 1;
    border: 1px solid rgba( 0, 0, 0, 0.25 );

    > span {
        display: block;
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translate3d( 0, -50%, 0 );
        pointer-events: none;
    }
}
._2dk__controls .is-active {
    background: rgba( 255, 255, 255, 0.5 );
    color: rgba( 0, 0, 0, 0.5 );
}
._2dk__controls__up {
    height: 62px;
    width: 52px;
    border-radius: 10px;
    left: 80px;
    bottom: 150px;
}
._2dk__controls__down {
    height: 62px;
    width: 52px;
    border-radius: 10px;
    left: 80px;
    bottom: 40px;
}
._2dk__controls__right {
    width: 62px;
    height: 52px;
    border-radius: 10px;
    left: 130px;
    bottom: 100px;
}
._2dk__controls__left {
    width: 62px;
    height: 52px;
    border-radius: 10px;
    left: 20px;
    bottom: 100px;
}
._2dk__controls__a {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    right: 20px;
    bottom: 100px;
    font-size: 24px;
}
._2dk__controls__b {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    right: 80px;
    bottom: 40px;
    font-size: 24px;
}
._2dk__controls__select {
    width: 82px;
    height: 32px;
    border-radius: 10px 10px 0px 0px;
    bottom: 0;
    left: 50%;
    transform: translate3d( -50%, 0, 0 );
    margin-left: -49px;
}
._2dk__controls__start {
    width: 82px;
    height: 32px;
    border-radius: 10px 10px 0px 0px;
    bottom: 0;
    left: 50%;
    transform: translate3d( -50%, 0, 0 );
    margin-left: 49px;
}
