._2dk__sprite {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;

    &.fg {
        z-index: 3;
    }
    &.bg {
        z-index: 1;
    }
}
._2dk__child {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}



/******************************************************************************
 * Hero (LA style)
*******************************************************************************/
._2dk__hero {
    height: $hero-h;
    width: $hero-w;

    ._2dk__child {
        background-repeat: no-repeat;
        background-size: $hero-sw $hero-sh;

        &.down {
            background-position: 0 0;
        }
        &.up {
            background-position: (-$hero-w) 0;
        }
        &.left {
            background-position: (-$hero-w * 2) 0;
        }
        &.right {
            background-position: (-$hero-w * 3) 0;
        }

        &.walk.down {
            background-position: 0 (-$hero-h);
            animation: hero-down-walk $hero-speed steps( $hero-steps ) infinite;
        }
        &.walk.up {
            background-position: 0 (-$hero-h * 2);
            animation: hero-up-walk $hero-speed steps( $hero-steps ) infinite;
        }
        &.walk.left {
            background-position: 0 (-$hero-h * 3);
            animation: hero-left-walk $hero-speed steps( $hero-steps ) infinite;
        }
        &.walk.right {
            background-position: 0 (-$hero-h * 4);
            animation: hero-right-walk $hero-speed steps( $hero-steps ) infinite;
        }

        &.push.down {
            background-position: (-$hero-w * 2) (-$hero-h);
            animation: hero-down-push $hero-speed steps( $hero-steps ) infinite;
        }
        &.push.up {
            background-position: (-$hero-w * 2) (-$hero-h * 2);
            animation: hero-up-push $hero-speed steps( $hero-steps ) infinite;
        }
        &.push.left {
            background-position: (-$hero-w * 2) (-$hero-h * 3);
            animation: hero-left-push $hero-speed steps( $hero-steps ) infinite;
        }
        &.push.right {
            background-position: (-$hero-w * 2) (-$hero-h * 4);
            animation: hero-right-push $hero-speed steps( $hero-steps ) infinite;
        }

        &.pull.down {
            background-position: (-$hero-w * 4) (-$hero-h);
            animation: hero-down-pull $hero-speed steps( $hero-steps ) infinite;
        }
        &.pull.up {
            background-position: (-$hero-w * 4) (-$hero-h * 2);
            animation: hero-up-pull $hero-speed steps( $hero-steps ) infinite;
        }
        &.pull.left {
            background-position: (-$hero-w * 4) (-$hero-h * 3);
            animation: hero-left-pull $hero-speed steps( $hero-steps ) infinite;
        }
        &.pull.right {
            background-position: (-$hero-w * 4) (-$hero-h * 4);
            animation: hero-right-pull $hero-speed steps( $hero-steps ) infinite;
        }

        &.lift.down {
            background-position: (-$hero-w * 6) (-$hero-h);
            animation: hero-down-lift $hero-speed steps( $hero-steps ) infinite;
        }
        &.lift.up {
            background-position: (-$hero-w * 6) (-$hero-h * 2);
            animation: hero-up-lift $hero-speed steps( $hero-steps ) infinite;
        }
        &.lift.left {
            background-position: (-$hero-w * 6) (-$hero-h * 3);
            animation: hero-left-lift $hero-speed steps( $hero-steps ) infinite;
        }
        &.lift.right {
            background-position: (-$hero-w * 6) (-$hero-h * 4);
            animation: hero-right-lift $hero-speed steps( $hero-steps ) infinite;
        }
    }
}
@keyframes hero-down-walk {
    100% { background-position: (-$hero-w * $hero-steps) (-$hero-h); }
}
@keyframes hero-up-walk {
    100% { background-position: (-$hero-w * $hero-steps) (-$hero-h * 2); }
}
@keyframes hero-left-walk {
    100% { background-position: (-$hero-w * $hero-steps) (-$hero-h * 3); }
}
@keyframes hero-right-walk {
    100% { background-position: (-$hero-w * $hero-steps) (-$hero-h * 4); }
}

@keyframes hero-down-push {
    100% { background-position: ((-$hero-w * 2) - ($hero-w * $hero-steps)) (-$hero-h); }
}
@keyframes hero-up-push {
    100% { background-position: ((-$hero-w * 2) - ($hero-w * $hero-steps)) (-$hero-h * 2); }
}
@keyframes hero-left-push {
    100% { background-position: ((-$hero-w * 2) - ($hero-w * $hero-steps)) (-$hero-h * 3); }
}
@keyframes hero-right-push {
    100% { background-position: ((-$hero-w * 2) - ($hero-w * $hero-steps)) (-$hero-h * 4); }
}

@keyframes hero-down-pull {
    100% { background-position: ((-$hero-w * 4) - ($hero-w * $hero-steps)) (-$hero-h); }
}
@keyframes hero-up-pull {
    100% { background-position: ((-$hero-w * 4) - ($hero-w * $hero-steps)) (-$hero-h * 2); }
}
@keyframes hero-left-pull {
    100% { background-position: ((-$hero-w * 4) - ($hero-w * $hero-steps)) (-$hero-h * 3); }
}
@keyframes hero-right-pull {
    100% { background-position: ((-$hero-w * 4) - ($hero-w * $hero-steps)) (-$hero-h * 4); }
}

@keyframes hero-down-lift {
    100% { background-position: ((-$hero-w * 6) - ($hero-w * $hero-steps)) (-$hero-h); }
}
@keyframes hero-up-lift {
    100% { background-position: ((-$hero-w * 6) - ($hero-w * $hero-steps)) (-$hero-h * 2); }
}
@keyframes hero-left-lift {
    100% { background-position: ((-$hero-w * 6) - ($hero-w * $hero-steps)) (-$hero-h * 3); }
}
@keyframes hero-right-lift {
    100% { background-position: ((-$hero-w * 6) - ($hero-w * $hero-steps)) (-$hero-h * 4); }
}
