._2dk__map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
._2dk__layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &[data-layer="background"] {
        z-index: 1;
    }

    &[data-layer="objects"] {
        z-index: 2;
    }

    &[data-layer="debug"],
    &[data-layer="foreground"] {
        z-index: 3;
    }
}
