#root {
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}
.root__label {
    margin-bottom: 16px;
}
.root__form {
    background-color: $charcoal;
    border: 1px solid $grey-dark;
    border-radius: 2px;
    display: inline-block;
    padding: 32px;
    position: relative;
    width: 100%;
    max-width: 512px;
    text-align: left;
}
.root__text {
    color: $white;
    cursor: pointer;
    display: block;
    line-height: 2;
    padding-bottom: 8px;
    position: relative;
    width: 100%;
}
.root__wrap {
    display: flex;
    justify-content: space-between;
}
.root__select {
    text-align: center;
    padding-top: 32px;
    margin-top: 32px;
    border-top: 1px solid $grey-dark;
}
.root__field {
    margin-bottom: 16px;
    text-align: left;
}
.root__field--name {
    width: 100%;
    max-width: 100%;
}
.root__field--grid {
    width: 50%;
    max-width: calc( 50% - 8px );
}
