._2dk__sprite {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
        outline: 1px solid red;

    &.fg {
        z-index: 3;
    }
    &.bg {
        z-index: 1;
    }
}
._2dk__child {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
