$tile-size: 32px;
$box-shadow: 0 0 5px 5px rgba( 0, 0, 0, 0.15 );



// // @2x sizes
// $hero-height: 140px;
// $hero-width: 140px;
// $hero-sprite-width: 1680px;
// $hero-sprite-height: 560px;
// // @1x sizes
// $hero-h: $hero-height / 2;
// $hero-w: $hero-width / 2;
// $hero-sw: $hero-sprite-width / 2;
// $hero-sh: $hero-sprite-height / 2;
// $hero-speed: 320ms;
// $hero-steps: 8;



// @2x sizes
$hero-height: 92px;
$hero-width: 92px;
$hero-sprite-width: 1104px;
$hero-sprite-height: 460px;
// @1x sizes
$hero-h: $hero-height / 2;
$hero-w: $hero-width / 2;
$hero-sw: $hero-sprite-width / 2;
$hero-sh: $hero-sprite-height / 2;
$hero-speed: 240ms;
$hero-steps: 2;
