<%
const context = locals.context;
const sourceJS = `${context.javascript}?v=${context.timestamp}`;
const sourceCSS = `${context.stylesheet}?v=${context.timestamp}`;

context.pageTitle = context.getPageTitle();
context.pageDescription = context.getPageDescription();
%>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-title" content="2dk" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
        <meta name="description" content="<%= context.pageDescription %>" />
        <meta name="google-site-verification" content="<%= context.site.data.googleVerify %>" />
        <link rel="apple-touch-icon" sizes="57x57" href="/img/2dk/icon/apple-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="/img/2dk/icon/apple-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/img/2dk/icon/apple-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/img/2dk/icon/apple-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/img/2dk/icon/apple-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/img/2dk/icon/apple-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/img/2dk/icon/apple-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/img/2dk/icon/apple-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/img/2dk/icon/apple-icon-180x180.png" />
        <link rel="icon" type="image/png" sizes="192x192"  href="/img/2dk/icon/android-icon-192x192.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/img/2dk/icon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="96x96" href="/img/2dk/icon/favicon-96x96.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/img/2dk/icon/favicon-16x16.png" />
        <link rel="shortcut icon" type="image/x-icon" href="/img/2dk/icon/favicon.ico" />
        <link rel="manifest" href="/img/2dk/icon/manifest.json" />
        <meta name="msapplication-TileColor" content="#000000" />
        <meta name="msapplication-TileImage" content="/img/2dk/icon/ms-icon-144x144.png" />
        <meta name="theme-color" content="#000000" />
        <title><%= context.pageTitle %></title>
        <link href="/css/2dk.css" rel="stylesheet" media="screen" />
    </head>
    <body>
        <script src="/js/2dk.js"></script>
    </body>
</html>
