.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $font-icons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--gamesgamepad:before {
  content: "\e900";
}
.icon--library_music:before {
  content: "\e901";
}
.icon--pause_circle_outline:before {
  content: "\e904";
}
.icon--play_circle_outline:before {
  content: "\e907";
}
.icon--location_onplaceroom:before {
  content: "\e909";
}
.icon--stay_current_landscapestay_primary_landscape:before {
  content: "\e90a";
}
.icon--archive:before {
  content: "\e90b";
}
.icon--content_cut:before {
  content: "\e90c";
}
.icon--createmode_editedit:before {
  content: "\e90d";
}
.icon--save:before {
  content: "\e90e";
}
.icon--format_color_fill:before {
  content: "\e90f";
}
.icon--cloud_uploadbackup:before {
  content: "\e923";
}
.icon--brush:before {
  content: "\e911";
}
.icon--collectionsphoto_library:before {
  content: "\e912";
}
.icon--music_note:before {
  content: "\e913";
}
.icon--panorama:before {
  content: "\e914";
}
.icon--remove_red_eyevisibility:before {
  content: "\e915";
}
.icon--layers:before {
  content: "\e917";
}
.icon--map:before {
  content: "\e918";
}
.icon--zoom_out_map:before {
  content: "\e924";
}
.icon--category:before {
  content: "\e91b";
}
.icon--arrow_drop_down:before {
  content: "\e91c";
}
.icon--delete:before {
  content: "\e91f";
}
.icon--settings:before {
  content: "\e920";
}
.icon--visibility_off:before {
  content: "\e921";
}
