/* IDs */
#editor {
    color: var( --grey );
    font-size: var( --font-size-editor );
    font-family: "Calamity-Bold";
    position: relative;
    width: 100%;
    height: 100%;

    &.is-not-loaded {
        visibility: hidden;
        pointer-events: none;
    }

    &.is-saving-map:after,
    &.is-saving-game:after,
    &.is-saving-file:after,
    &.is-deleting-file:after {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        background-color: rgba( 0, 0, 0, 0.75 );
        display: flex;
        justify-content: center;
        align-items: center;
        color: var( --white );
        font-size: var( --font-size-overlay );
    }
    &.is-saving-map:after {
        content: "Saving map...";
    }
    &.is-saving-game:after {
        content: "Saving game...";
    }
    &.is-saving-file:after {
        content: "Saving file...";
    }
    &.is-deleting-file:after {
        content: "Deleting file...";
    }
}
#editor-preview,
#editor-tileset {
    .layer {
        position: absolute;
        left: 50%;
        top: 0;
        cursor: var( --cursor );
        transform: translateX( -50% );
    }
    .layer--preview {
        left: 50%;
        top: 50%;
        transform: translate3d( -50%, -50%, 0 );
        outline: 1px solid var( --teal );
        pointer-events: none;
    }
}
#editor-tileset {
    .layer--tilepaint {
        z-index: 4;
    }
    .layer--tilegrid {
        pointer-events: none;
    }
}
#editor-preview {
    height: calc( 128px + 47px );
    pointer-events: none;
    width: 100%;
    background-color: var( --charcoal2 );
    overflow: hidden;
    position: relative;

    .layer {
        width: 32px;
        height: 32px;
    }
}
#editor-gamesettings,
#editor-mapsettings {
    cursor: pointer;
    pointer-events: auto;
}
#editor-master-sound {
    cursor: pointer;
    pointer-events: auto;
}
#editor-tileset-image {
    display: block;
    margin: 0 auto;
}
#editor-mapgrid {
    .layer {
        position: absolute;
        left: 0;
        top: 0;
    }
}
#editor-mapgrid-canvas,
#editor-collider-canvas {
    display: none;
}
#editor-canvas-pane {
    display: none;

    &.is-loaded {
        display: block;
    }
}
#editor-loadout {
    display: none;
    font-size: var( --font-size-editor );
    padding: 20px;

    &.is-loaded {
        display: block;
    }
}
#editor-game-icon-image {
    width: 96px;
    margin: 0 auto;
    display: block;
    border: 1px solid var( --grey-dark );
}
#editor-demo-game {
    pointer-events: auto;
}



/* Cursor */
.editor__cursor {
    --z: -1;
    --x: 0;
    --y: 0;
    --o: 0;
    opacity: var( --o );
    z-index: var( --z );
    position: absolute;
    pointer-events: none;
    transform: translate3d( var( --x ), var( --y ), 0 );
}
// #editor-cursor-canvas {
//     opacity: 0.5;
// }
#editor-cursor-box {
    --w: 0;
    --h: 0;
    // opacity: 1;
    width: var( --w );
    height: var( --h );
}



/* Layout */
.editor,
.editor__layout {
    width: 100%;
    height: 100%;
}
.editor__layout {
    display: grid;
    grid-template-columns: 44px 1fr 417px;
    grid-template-rows: 50px 1fr;

    .editor__panel,
    .editor__toolbar,
    .editor__content,
    .editor__sidebar {
        position: relative;
    }

    .editor__canvas,
    .editor__loadout {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .editor__content,
    .editor__sidebar,
    .editor__toolbar,
    .editor__sidebar__layers {
        height: calc( 100vh - 50px );
    }

    .editor__panel {
        grid-column: 1 / 4;
        grid-row: 1;
    }
    .editor__toolbar {
        grid-column: 1;
        grid-row: 2;
    }
    .editor__content {
        grid-column: 2;
        grid-row: 2;
    }
    .editor__sidebar {
        grid-column: 3;
        grid-row: 2;
    }
}



/* CSS Grids */
.editor__cssgrid {
    /* grid-size is set in EditorCanvas.js */
    background-size: var( --grid-size ) var( --grid-size );
    background-image: 
        linear-gradient( to right, var( --teal ) 1px, transparent 1px ),
        linear-gradient( to bottom, var( --teal ) 1px, transparent 1px );
    border-right: 1px solid var( --teal );
    border-bottom: 1px solid var( --teal );
}



/* Top panel */
.editor__panel {
    background-color: var( --black );
    border-bottom: 1px solid var( --grey-dark );
    box-shadow: var( --box-shadow );
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.editor__panel__xy,
.editor__panel__map,
.editor__panel__res,
.editor__panel__game,
.editor__panel__sound {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var( --grey-dark );
    padding: 0 20px;
}
.editor__panel__res {
    display: none;
}
.editor__panel__xy {
    justify-content: flex-start;
    border-right: 0;
    margin-left: auto;
}
.editor__panel__sound {
    border-right: 1px solid var( --grey-dark );

    .feather {
        display: inline-block;
    }

    .feather-pause-circle {
        display: none;
    }

    &.is-playing {
        .feather-play-circle {
            display: none;
        }

        .feather-pause-circle {
            display: inline-block;
        }
    }
}



/* Sidebar */
.editor__sidebar {
    border-left: 1px solid var( --grey-dark );
    background-color: var( --black );
    z-index: 2;
    box-shadow: var( --box-shadow );
}
.editor__sidebar__layers {
    height: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
}



/* Toolbar */
.editor__toolbar {
    background-color: var( --black );
    overflow: hidden;
    z-index: 2;
    border-right: 1px solid var( --grey-dark );
    box-shadow: var( --box-shadow );   
}
.editor__toolbar__tools {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    border-bottom: 1px solid var( --grey-dark );
}



/* Canvas */
.editor__canvas,
.editor__loadout {
    z-index: 1;
    overflow: hidden;
    background-color: var( --charcoal2 );
}
.editor__loadout__grid {
    gap: 50px;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( 200px, 1fr ) );
    grid-template-rows: max-content;
    overflow-y: auto;
    height: 100%;
    width: 100%;

    > div {
        cursor: pointer;
        text-align: center;

        > div {
            position: relative;
            margin-bottom: 16px;
            width: 100%;
            padding-bottom: 100%;
            box-shadow: var( --box-shadow );
            background-color: var( --black );
            border: 1px solid var( --grey );

            > img {
                object-fit: cover;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }

        > div,
        > span {
            pointer-events: none;
        }
    }
}
.editor__canvas__buttons {
    pointer-events: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 9999;

    button {
        width: auto;
        pointer-events: auto;
    }
}
.editor__canvas__pane {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: var( --box-shadow );
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;

    &.is-dragging {
        cursor: grabbing !important;
    }

    &.is-npc,
    &.is-obj,
    &.is-spawn,
    &.is-event,
    &.is-background,
    &.is-foreground,
    &.is-collision {
        cursor: var( --cursor );
    }

    &.is-select-tool {
        cursor: default;
    }

    &.is-spawn-tool,
    &.is-event-tool,
    &.is-brush-tool {
        cursor: var( --cursor );
    }

    &.is-erase-tool {
        cursor: not-allowed;
    }

    &.is-npc,
    &.is-obj,
    &.is-spawn,
    &.is-event,
    &.is-background,
    &.is-foreground,
    &.is-spawn-tool,
    &.is-event-tool {
        #editor-mapgrid-canvas {
            display: block;
        }
        #editor-collider-canvas {
            display: none;
        }
    }

    &.is-collision {
        #editor-mapgrid-canvas {
            display: none;
        }
        #editor-collider-canvas {
            display: block;
        }
    }
}
.editor__canvas__layer {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    > canvas {
        position: absolute;
        left: 0;
        top: 0;
    }

    &.is-hidden {
        display: none;
    }

    &.editor__mapgrid.is-hidden {
        display: block;
        opacity: 0;
    }
}
.editor__background {
    z-index: 1;
    pointer-events: none;
}
.editor__foreground {
    z-index: 3;
    pointer-events: none;
}
.editor__npc,
.editor__obj {
    z-index: 3;
    pointer-events: none;
}
.editor__collision {
    z-index: 4;
    pointer-events: none;
}
.editor__spawn,
.editor__event {
    z-index: 4;
    pointer-events: none;
}
.editor__block {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var( --white );
    cursor: pointer;

    .feather {
        width: 24px;
        height: 24px;
    }

    &.is-spawn {
        border: 1px solid var( --green );
        background-color: rgba( 16, 255, 89, 0.5 );
    }
    &.is-event {
        border: 1px solid var( --blue );
        background-color: rgba( 23, 149, 212, 0.5 );
    }
    &.is-hit {
        border: 1px solid var( --red );
        background-color: rgba( 243, 5, 65, 0.5 );
    }
    &.is-hidden {
        opacity: 0 !important;
    }
}
.editor__mapgrid {
    z-index: 5;
}



/* Actions */
.editor__action {
    background-color: var( --charcoal2 );
    border: 1px solid var( --grey-dark );
    cursor: pointer;
    position: relative;
    width: 32px;
    height: 32px;
    text-align: center;
    color: var( --grey );
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        color: var( --white );
    }

    &.is-active,
    &.is-active:hover {
        color: var( --white );
        background-color: var( --blue );
        border-color: var( --blue );
    }

    &[disabled]:hover {
        color: var( --grey );
    }
}



/* Layers */
.editor__box {
    border-bottom: 1px solid var( --grey-dark );
}
.editor__label {
    margin-bottom: 10px;

    & + .editor__setting--multi {
        > div:first-child {
            width: calc( 75% - 5px );
        }

        > div:last-child {
            width: calc( 25% - 5px );
        }
    }
}
.editor__layer {
    padding: 16px;
    position: relative;
    color: var( --grey );
    border-bottom: 1px solid var( --grey-dark );
    width: 100%;
    display: flex;
    align-items: center;

    &:last-child {
        border-bottom: 0;
    }

    &.-merge-down {
        border-bottom: 0;
        padding-bottom: 0;
        height: 32px;
    }

    &.js-edit-layer {
        cursor: pointer;
        height: 47px;
    }

    &.-preview {
        height: calc( 161px + 47px );
    }

    &.is-active,
    &.is-active:hover {
        background-color: var( --charcoal );
        color: var( --blue );
    }
}
.editor__layer__hide {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY( -50% );
    color: var( --grey );

    .feather {
        display: inline-block;
    }

    .feather-eye-off {
        display: none;
    }

    &.is-active {
        .feather-eye {
            display: none;
        }

        .feather-eye-off {
            display: inline-block;
        }
    }
}
.editor__layer__label {
    position: relative;
    display: flex;
    align-items: center;
}
.editor__layer__content {
    margin-top: 10px;
}
.editor__metalayers {
    gap: 16px;
    display: flex;
}



/* Forms / Fields */
.editor__setting {
    .select,
    .select__field {
        width: 100%;
    }
}
.editor__setting + .editor__setting {
    margin-top: 20px;
}
.editor__setting--multi {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div,
    > input,
    > button {
        width: calc( 50% - 5px );
    }
}
.editor__checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    svg {
        width: 12px;
        height: 12px;
    }
}



/* Menus */
.editor__menus {
    background-color: rgba( 0, 0, 0, 0.25 );
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: none;

    &.is-active {
        display: block;
    }
}
.editor__menu {
    background-color: var( --black );
    border: 1px solid var( --grey-dark );
    box-shadow: var( --box-shadow );
    padding: 24px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate3d( -50%, -50%, 0 );
    width: 100%;
    max-width: 480px;
    z-index: -1;
    pointer-events: none;
    display: none;

    &.is-active {
        display: block;
        z-index: 10;
        pointer-events: auto;
    }
}



/* File Uploads */
.editor__upload {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.editor__upload__button {
    width: 30%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.editor__close-button {
    position: absolute;
    right: 16px;
    top: 16px;
}
.editor__upload__field {
    width: 70%;
    height: 40px;
}
.editor__upload__mask {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.editor__sound__player {
    width: 10%;
    text-align: center;
    cursor: pointer;
}
.editor__delete-button {
    width: 100%;
}


/* Pickers */
.editor__picker {
    flex: 1;
    overflow: hidden;
    
    > .editor__layer:last-child {
        height: calc( 100% - 32px );
    }

    &.is-hidden {
        display: none;
    }
}
.editor__picker__box {
    height: 100%;
    width: 100%;
}
.editor__picker__overflow {
    position: relative;
    height: 100%;
    overflow: auto;
    outline: 1px solid var( --grey-dark );
    background-color: var( --charcoal2 );
}
.editor__picker__sprite__grid {
    gap: 24px 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    > div {
        gap: 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        > * {
            pointer-events: none;
        }
    }
}