:root {
    --font-size-overlay: 2rem;
    --font-size-editor: 0.75rem;
    --font-size-icons: 1.125rem;
    --font-size-forms: 0.75rem;
    --box-shadow: 0 0 5px 5px rgba( 0, 0, 0, 0.15 );
    --cursor: crosshair;
    --black: #000;
    --charcoal: #111;
    --charcoal2: #222;
    --white: #FFFDE4;
    --grey: #959595;
    --grey-dark: #333;
    --green: #10FF59;
    --yellow: #EEFD02;
    --red: #F30541;
    --pink: #F49AC1;
    --purple: #6441A4;
    --blue: #1795D4;
    --teal: #2AFFEA;
    --blue-dark: #004080;
}
