$font-size-overlay: 32px;
$font-size-editor: 11px;
$font-size-forms: 11px;
$box-shadow: 0 0 5px 5px rgba( 0, 0, 0, 0.15 );
$cursor: cell;



html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 0;
    background-color: $black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
span {
    display: inline-block;
    vertical-align: middle;
}
a {
    color: $white;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}



.icon {
    font-size: $font-size-icons;
    cursor: pointer;
    pointer-events: none;

    &.js-hide-layer,
    &.js-sound-button {
        pointer-events: auto;
    }
}
.icon--nudge {
    margin-right: 10px;
}
.txt {
    line-height: 1.75;
    padding: 10px 0;
    color: $grey;
}
.input {
    background-color: $charcoal;
    border: 1px solid $grey-dark;
    color: $white;
    box-sizing: border-box;
    font-family: $font-monospace;
    outline: none;
    padding: 10px 16px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    font-size: $font-size-forms;

    &:focus {
        outline: none;
    }
}
.select {
    position: relative;
    font-family: $font-monospace;
    color: $grey;

    &__icon {
        position: absolute;
        right: 14px;
        top: 50%;
        transform: translateY( -50% );
        pointer-events: none;
    }

    &[disabled]:after {
        display: none;
    }
}
.select__field {
    border-radius: 0;
    background-color: $charcoal;
    border: 1px solid $grey-dark;
    color: $grey;
    font-family: $font-monospace;
    outline: none;
    padding: 10px 56px 10px 14px;
    position: relative;
    min-width: 185px;
    width: 100%;
    -webkit-appearance: none;
    font-size: $font-size-forms;

    &:focus {
        outline: none;
        border: 1px solid $grey;
    }
}
.checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: $font-size-forms;

    span,
    input {
        display: inline-block;
        vertical-align: middle;
    }

    span {
        margin-left: 5px;
    }

    & + .checkbox {
        margin-left: 32px;
    }
}
button {
    &:focus {
        outline: 0;
    }
}
.button {
    border: 0;
    outline: none;
    box-sizing: border-box;
    display: inline-block;
    font-family: inherit;
    padding: 14px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    background-color: $blue;
    color: mix( black, $blue, 90% );
    transition: background-color 240ms ease;
    font-size: $font-size-forms;

    &:hover {
        background-color: mix( black, $blue, 25% );
    }
}
.button--slim {
    padding: 7px 14px 8px;
    background-color: $charcoal;
    border: 1px solid $blue;
    color: $blue;

    &:hover {
        background-color: mix( white, $charcoal, 5% );
    }
}
.button.button--green {
    background-color: $green;
    color: mix( black, $green, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $green, 25% );
    }
}
.button.button--yellow {
    background-color: $yellow;
    color: mix( black, $yellow, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $yellow, 25% );
    }
}
.button.button--red {
    background-color: $red;
    color: mix( black, $red, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $red, 25% );
    }
}
.button.button--pink {
    background-color: $pink;
    color: mix( black, $pink, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $pink, 25% );
    }
}
.button.button--purple {
    background-color: $purple;
    color: mix( black, $purple, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $purple, 25% );
    }
}
.button.button--blue {
    background-color: $blue;
    color: mix( black, $blue, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $blue, 25% );
    }
}
.button.button--grey {
    background-color: $grey;
    color: mix( black, $grey, 90% );

    .is-hoverable &:hover {
        background-color: mix( black, $grey, 25% );
    }
}
